/* --- about page --- */

#about_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills_section {
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    flex-wrap: wrap;
}

.skills_div {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    ul {
        display: block;
    }
}

.skills_collumns {
    height: auto;
    margin-bottom: 32px;
    margin-top: 0;
}

.justify {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill_ranking {
    color: #787878;
}

@media (min-width: $small) {

    .skills_div {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        gap: 2rem;

    }

    .skills_collumns {
        flex: 1;
        //width: calc((100% / 2) - ((3 * 24px) / 2));

    }

    #about_text {
        column-count: 2;
        gap: 24px;
    }

}

@media (min-width: $large) {
    .skills_container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .skills_collumns {
        width: calc((100% / 4) - ((3 * 24px) / 4));
    }

    .skills_div {
        flex: 1;
    }
}

.special_p {
    margin: 0.2rem 0;
}

.about_body {
    display: flex;
    flex-direction: column;
}

.marquee_container {
    position: relative;
    width: 100%;
    padding: 24px 0;
    height: 20px;
}