header {
    background-color: $primary-color;
    height: 50px;
}

a {
    display: flex;
    align-content: stretch;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}