main {
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100svh;
}